@import "mixins";
html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.amazing {
    width: 100%;
    background-image: url("../images/background_1.png");
    @include backgroundImage;
    padding: 5% 10% 15% 10%;
    &__navbar {
        display: flex;
        justify-content: space-between;
    }
    #menu__toggle {
        opacity: 0;
    }
    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked~.menu__box {
        visibility: visible;
        right: 10%;
        top: 7%;
        width: 20%;
        padding: 5px 2px 5px 2px;
        background-color: #e1f8f9;
        border-radius: 10px;
    }
    .menu__btn {
        display: flex;
        align-items: center;
        position: relative;
        top: 0%;
        right: 5%;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #080808;
        transition-duration: .25s;
    }
    .menu__btn>span::before {
        content: '';
        top: -8px;
    }
    .menu__btn>span::after {
        content: '';
        top: 8px;
    }
    .menu__box {
        display: block;
        position: absolute;
        visibility: hidden;
        top: 0;
        width: 300px;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #e1f8f9;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
    }
    .menu__item {
        display: block;
        padding: 12px 20px;
        color: #333;
        font-family: 'Aleo', serif;
        font-size: 20px;
        font-weight: 400;
        text-decoration: none;
        transition-duration: .20s;
    }
    .menu__item:hover {
        background-color: #e1f8f9;
    }
    & h1 {
        font-family: 'Fira Sans', sans-serif;
        font-size: 72px;
        line-height: 1.2;
        font-weight: 300;
        letter-spacing: 1px;
        margin: 0;
        margin-top: 15%;
        margin-bottom: 2%;
    }
    & p {
        font-family: 'Fira Sans', sans-serif;
        font-size: 30px;
        line-height: 1.2;
        font-weight: 300;
        & span {
            font-weight: 700;
        }
    }
}

.sed {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    &__photo {
        width: 50%;
        & img {
            max-width: 100%;
        }
    }
    &__faucibus {
        width: 50%;
        background-color: #f3f1ef;
        padding: 8% 8% 1% 5%;
        & h3 {
            font-family: 'Fira Sans', sans-serif;
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            color: #666666;
        }
        & p {
            font-family: 'Fira Sans', sans-serif;
            font-size: 36px;
            line-height: 1.2;
            font-weight: 300;
            letter-spacing: 1px;
            color: #666666;
            margin-top: 5%;
        }
    }
}

.about {
    width: 100%;
    display: flex;
    & img {
        max-width: 25%;
    }
}

.instagram {
    width: 100%;
    display: flex;
    &__etiam {
        width: 50%;
        background-color: #3f729b;
        padding: 8% 0 0 8%;
        & h3 {
            font-family: 'Fira Sans', sans-serif;
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            color: #f9f9f9;
        }
        & p {
            font-family: 'Fira Sans', sans-serif;
            font-size: 36px;
            line-height: 1.2;
            font-weight: 300;
            letter-spacing: 1px;
            color: #f9f9f9;
            margin: 5% 0 4% 0;
        }
        a {
            width: 50%;
            display: flex;
            justify-content: center;
            text-decoration: none;
            font-family: 'Fira Sans', sans-serif;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 5px;
            text-transform: uppercase;
            color: #ffffff;
            border: 2px solid #ffffff;
            border-radius: 25px;
            padding: 2% 0;
            &:hover {
                background-color: #234561;
            }
        }
    }
    &__img {
        width: 50%;
        background-color: #3f729b;
        & img {
            max-width: 100%;
        }
    }
}

.self {
    width: 100%;
    display: flex;
    &__bg {
        width: 25%;
        background-color: #282b2f;
    }
    &__effacing {
        width: 75%;
        background-image: url("../images/bg_s5.png");
        @include backgroundImage;
        padding-bottom: 15%;
        &_rage {
            width: 30%;
            background-color: #212227;
            padding: 10% 1% 8% 5%;
            & h3 {
                font-family: 'Fira Sans', sans-serif;
                font-size: 24px;
                font-weight: 700;
                text-transform: uppercase;
                color: #2ebd59;
            }
            & h4 {
                font-family: 'Fira Sans', sans-serif;
                font-size: 18px;
                font-weight: 400;
                text-transform: uppercase;
                color: #2ebd59;
                margin-top: 3%;
            }
            & p {
                font-family: 'Fira Sans', sans-serif;
                font-size: 14px;
                line-height: 1.2;
                font-weight: 400;
                color: #f9f9f9;
                margin: 9% 0 13% 0;
            }
            & a {
                width: 50%;
                display: flex;
                justify-content: center;
                text-decoration: none;
                font-family: 'Fira Sans', sans-serif;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #2ebd59;
                border: 2px solid #2ebd59;
                border-radius: 25px;
                padding: 2% 0;
                &:hover {
                    background-color: #13662c;
                }
            }
        }
    }
}

.spotify {
    width: 100%;
    display: flex;
    &__follow {
        width: 50%;
        background-color: #2ebd59;
        padding: 8% 0 8% 10%;
        & h3 {
            font-family: 'Fira Sans', sans-serif;
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            color: #f9f9f9;
        }
        & p {
            font-family: 'Fira Sans', sans-serif;
            font-size: 36px;
            line-height: 1.2;
            font-weight: 300;
            color: #f9f9f9;
            margin: 5% 0 5% 0;
        }
        a {
            width: 43%;
            display: flex;
            justify-content: center;
            text-decoration: none;
            font-family: 'Fira Sans', sans-serif;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: #ffffff;
            border: 2px solid #ffffff;
            border-radius: 25px;
            padding: 2% 0;
            &:hover {
                background-color: #20753a;
            }
        }
    }
    &__itunes {
        width: 50%;
        background-color: #282b2f;
        padding: 8% 0 8% 7%;
        & h3 {
            font-family: 'Fira Sans', sans-serif;
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            color: #f9f9f9;
        }
        & p {
            font-family: 'Fira Sans', sans-serif;
            font-size: 36px;
            line-height: 1.2;
            font-weight: 300;
            color: #f9f9f9;
            margin: 5% 0 5% 0;
        }
        a {
            width: 43%;
            display: flex;
            justify-content: center;
            text-decoration: none;
            font-family: 'Fira Sans', sans-serif;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: #ffffff;
            border: 2px solid #ffffff;
            border-radius: 25px;
            padding: 2% 0;
            &:hover {
                background-color: #4f5358;
            }
        }
    }
}

.footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #212227;
    padding: 7% 1% 7% 6%;
    & h3 {
        font-family: 'Fira Sans', sans-serif;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: #f9f9f9;
    }
    &__dude {
        & p {
            font-family: 'Fira Sans', sans-serif;
            font-size: 14px;
            line-height: 1.5;
            font-weight: 300;
            color: #919191;
            margin: 7% 0;
        }
        & span {
            font-family: 'Fira Sans', sans-serif;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 300;
            color: #919191;
            text-transform: uppercase;
        }
    }
    &__contact {
        & p {
            font-family: 'Fira Sans', sans-serif;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 300;
            color: #919191;
            margin-top: 8%;
        }
        &_phone {
            margin-bottom: 30%;
        }
        & a {
            font-family: 'Fira Sans', sans-serif;
            font-size: 14px;
            font-weight: 700;
            line-height: 1.5;
            text-decoration: none;
            color: #919191;
            & object {
                width: 10%;
                max-height: 4%;
                color: #919191;
                margin-right: 15%;
            }
        }
        &_follow {
            margin-bottom: 13%;
        }
    }
    &__subscribe {
        p {
            font-family: 'Fira Sans', sans-serif;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 300;
            color: #919191;
            margin: 5% 0 3% 0;
        }
        & form {
            display: flex;
            margin-bottom: 15%;
            & input {
                width: 100%;
                background-color: #4d4e52;
                border: none;
                font-family: 'Fira Sans', sans-serif;
                font-size: 14px;
                font-weight: 300;
                padding: 5%;
                &::placeholder {
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: 1px;
                    color: #999999;
                }
            }
            & button {
                border: none;
                background-color: #4d4e52;
                display: flex;
                justify-content: center;
                align-items: center;
                justify-content: space-evenly;
                padding-right: 4%;
            }
        }
        &_logo {
            margin-top: 4%;
            & object {
                margin-right: 2%;
                &:hover {
                    background-color: #504f4f;
                }
            }
        }
    }
}

@import "_media.scss";