html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.amazing {
  width: 100%;
  background-image: url("../images/background_1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5% 10% 15% 10%;
}

.amazing__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.amazing #menu__toggle {
  opacity: 0;
}

.amazing #menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.amazing #menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.amazing #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.amazing #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 7%;
  top: 20%;
  width: 20%;
  padding: 5px 2px 5px 2px;
  background-color: #e1f8f9;
  border-radius: 10px;
}

.amazing .menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 0%;
  right: 5%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.amazing .menu__btn > span,
.amazing .menu__btn > span::before,
.amazing .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #080808;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.amazing .menu__btn > span::before {
  content: '';
  top: -8px;
}

.amazing .menu__btn > span::after {
  content: '';
  top: 8px;
}

.amazing .menu__box {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 0;
  width: 300px;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #e1f8f9;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.amazing .menu__item {
  display: block;
  padding: 12px 20px;
  color: #333;
  font-family: 'Aleo', serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition-duration: .20s;
          transition-duration: .20s;
}

.amazing .menu__item:hover {
  background-color: #e1f8f9;
}

.amazing h1 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 72px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0;
  margin-top: 15%;
  margin-bottom: 2%;
}

.amazing p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 300;
}

.amazing p span {
  font-weight: 700;
}

.sed {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sed__photo {
  width: 50%;
}

.sed__photo img {
  max-width: 100%;
}

.sed__faucibus {
  width: 50%;
  background-color: #f3f1ef;
  padding: 8% 8% 1% 5%;
}

.sed__faucibus h3 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #666666;
}

.sed__faucibus p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 1px;
  color: #666666;
  margin-top: 5%;
}

.about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about img {
  max-width: 25%;
}

.instagram {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.instagram__etiam {
  width: 50%;
  background-color: #3f729b;
  padding: 8% 0 0 8%;
}

.instagram__etiam h3 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f9f9f9;
}

.instagram__etiam p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 1px;
  color: #f9f9f9;
  margin: 5% 0 4% 0;
}

.instagram__etiam a {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 25px;
  padding: 2% 0;
}

.instagram__etiam a:hover {
  background-color: #234561;
}

.instagram__img {
  width: 50%;
  background-color: #3f729b;
}

.instagram__img img {
  max-width: 100%;
}

.self {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.self__bg {
  width: 25%;
  background-color: #282b2f;
}

.self__effacing {
  width: 75%;
  background-image: url("../images/bg_s5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 15%;
}

.self__effacing_rage {
  width: 30%;
  background-color: #212227;
  padding: 10% 1% 8% 5%;
}

.self__effacing_rage h3 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #2ebd59;
}

.self__effacing_rage h4 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #2ebd59;
  margin-top: 3%;
}

.self__effacing_rage p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #f9f9f9;
  margin: 9% 0 13% 0;
}

.self__effacing_rage a {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #2ebd59;
  border: 2px solid #2ebd59;
  border-radius: 25px;
  padding: 2% 0;
}

.self__effacing_rage a:hover {
  background-color: #13662c;
}

.spotify {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spotify__follow {
  width: 50%;
  background-color: #2ebd59;
  padding: 8% 0 8% 10%;
}

.spotify__follow h3 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f9f9f9;
}

.spotify__follow p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 300;
  color: #f9f9f9;
  margin: 5% 0 5% 0;
}

.spotify__follow a {
  width: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 25px;
  padding: 2% 0;
}

.spotify__follow a:hover {
  background-color: #20753a;
}

.spotify__itunes {
  width: 50%;
  background-color: #282b2f;
  padding: 8% 0 8% 7%;
}

.spotify__itunes h3 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f9f9f9;
}

.spotify__itunes p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 300;
  color: #f9f9f9;
  margin: 5% 0 5% 0;
}

.spotify__itunes a {
  width: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 25px;
  padding: 2% 0;
}

.spotify__itunes a:hover {
  background-color: #4f5358;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #212227;
  padding: 7% 1% 7% 6%;
}

.footer h3 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f9f9f9;
}

.footer__dude p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
  color: #919191;
  margin: 7% 0;
}

.footer__dude span {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #919191;
  text-transform: uppercase;
}

.footer__contact p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #919191;
  margin-top: 8%;
}

.footer__contact_phone {
  margin-bottom: 30%;
}

.footer__contact a {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  color: #919191;
}

.footer__contact a object {
  width: 10%;
  max-height: 4%;
  color: #919191;
  margin-right: 15%;
}

.footer__contact_follow {
  margin-bottom: 13%;
}

.footer__subscribe p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #919191;
  margin: 5% 0 3% 0;
}

.footer__subscribe form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15%;
}

.footer__subscribe form input {
  width: 100%;
  background-color: #4d4e52;
  border: none;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding: 5%;
}

.footer__subscribe form input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #999999;
}

.footer__subscribe form input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #999999;
}

.footer__subscribe form input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #999999;
}

.footer__subscribe form input::placeholder {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #999999;
}

.footer__subscribe form button {
  border: none;
  background-color: #4d4e52;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-right: 4%;
}

.footer__subscribe form button:hover {
  color: #d6cece;
}

.footer__subscribe_logo {
  margin-top: 4%;
}

.footer__subscribe_logo object {
  margin-right: 2%;
}

.footer__subscribe_logo object:hover {
  background-color: #504f4f;
}
/*# sourceMappingURL=style.css.map */